body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-login{
    padding: 4px;
    background-color: rgb(82, 198, 82);
    text-decoration:wavy;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header .topnav-centered {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

header nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

header .admin-login {
    position: absolute;
    top: 20px;
    right: 20px;
}


.scrolling-note {
    background-color:yellow; /* Light red background */
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: x-large;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}